@model SalaViewModel
@{
    ViewData["Title"] = "Editar Sala";
    Layout = "_SistemaLayout";
}

<div class="container">
    <form method="post">
        <div class="alert alert-dark mb-4">
            <h2>Informacion de la Sala</h2>
            <p>Estos son los datos que se utilizaran para crear la sala.</p>
            <div class="mb-3">
                <label asp-for="Sala" class="form-label"></label>
                <input asp-for="Sala" class="form-control mb-3" placeholder="Nombre de la Sala" />
                <span asp-validation-for="Sala" class="text-danger"></span>
            </div>
            <input asp-for="id" type="hidden" name="SalaId" />
            <button asp-controller="Sala" asp-action="EditarSalaSeleccionada" type="submit" class="btn btn-primary">Editar Sala</button>

        </div>
    </form>
</div>