<!-- about-section -->
<section class="about-section pt_120 pb_120 bg-color-1">
    <div class="pattern-layer">
        <div class="pattern-1 rotate-me" style="background-image: url(assets/images/shape/shape-8.png);"></div>
        <div class="pattern-2 rotate-me" style="background-image: url(assets/images/shape/shape-8.png);"></div>
        <div class="pattern-3 rotate-me" style="background-image: url(assets/images/shape/shape-9.png);"></div>
        <div class="pattern-4" style="background-image: url(assets/images/shape/shape-10.png);"></div>
        <div class="pattern-5" style="background-image: url(assets/images/shape/shape-11.png);"></div>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_one">
                    <div class="image-box">
                        <div class="shape float-bob-x" style="background-image: url(assets/images/shape/shape-7.png);"></div>
                        <figure class="image"><img src="assets/images/resource/leon.png" alt=""></figure>
                        <div class="icon-one"><i class="icon-13"></i></div>
                        <div class="icon-two"><i class="icon-14"></i></div>
                        <div class="text-box">
                            <h3>Dra. Valeria León</h3>
                            <span>Odontóloga General</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_one">
                    <div class="content-box ml_30">
                        <div class="sec-title mb_15">
                            <span class="sub-title">Sobre Nosotros</span>
                            <h2>Atención Odontológica Integral</h2>
                        </div>
                        <div class="text-box mb_40">
                            <h6>Comprometidos con tu sonrisa y bienestar bucal</h6>
                            <p>En Dientes de León brindamos un enfoque cálido y profesional en cada consulta. Nuestro equipo trabaja con pasión para ofrecerte tratamientos personalizados, confort y tecnología moderna en cada visita.</p>
                            <ul class="list-style-one clearfix">
                                <li>Consultas y controles odontológicos</li>
                                <li>Limpiezas y blanqueamientos</li>
                                <li>Tratamientos de caries y endodoncia</li>
                                <li>Ortodoncia y estética dental</li>
                                <li>Urgencias odontológicas</li>
                            </ul>
                        </div>
                        <div class="btn-box">
                            <a href="index.html" class="theme-btn btn-one"><span>Conocé más</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->
