<!-- feature-section -->
<section class="feature-section pt_120 pb_90">
    <div class="shape" style="background-image: url(assets/images/shape/shape-6.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="icon-box"><i class="icon-9"></i></div>
                        <h3><a href="index.html">Profesionales Calificados</a></h3>
                        <p>Contamos con odontólogos certificados y en constante capacitación.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="icon-box"><i class="icon-10"></i></div>
                        <h3><a href="index.html">Atención de Urgencias</a></h3>
                        <p>Brindamos asistencia rápida y eficaz ante emergencias dentales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="icon-box"><i class="icon-11"></i></div>
                        <h3><a href="index.html">Tecnología de Punta</a></h3>
                        <p>Equipos modernos para diagnósticos precisos y tratamientos efectivos.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="icon-box"><i class="icon-12"></i></div>
                        <h3><a href="index.html">Atención Familiar</a></h3>
                        <p>Cuidamos sonrisas de grandes y chicos con un enfoque humano y cálido.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature-section end -->
