<!-- funfact-section -->
<section class="funfact-section centred">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">
                <!-- Profesionales -->
                <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                    <div class="funfact-block-one">
                        <div class="inner-box">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="3">0</span><span class="symble">+</span>
                            </div>
                            <span class="text">Profesionales Especializados</span>
                        </div>
                    </div>
                </div>
                <!-- Pacientes -->
                <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                    <div class="funfact-block-one">
                        <div class="inner-box">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="2500">0</span><span>+</span>
                            </div>
                            <span class="text">Pacientes Atendidos</span>
                        </div>
                    </div>
                </div>
                <!-- Estudios realizados -->
                <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                    <div class="funfact-block-one">
                        <div class="inner-box">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="12000">0</span><span>+</span>
                            </div>
                            <span class="text">Estudios Realizados</span>
                        </div>
                    </div>
                </div>
                <!-- Años de experiencia -->
                <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                    <div class="funfact-block-one">
                        <div class="inner-box">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="10">0</span><span>+</span>
                            </div>
                            <span class="text">Años de Experiencia</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- funfact-section end -->
