<!-- chooseus-section -->
<section class="chooseus-section">
    <div class="bg-layer" style="background-image: url(assets/images/background/chooseus-bg.jpg);"></div>
    <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-12.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <div class="sec-title light mb_50">
                        <span class="sub-title">¿Por qué elegirnos?</span>
                        <h2>En Dientes de León<br />cuidamos tu sonrisa</h2>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="icon-18"></i></div>
                                    <h3>Equipo Profesional</h3>
                                    <p>Contamos con especialistas capacitados y en constante formación.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="icon-21"></i></div>
                                    <h3>Atención sin turno</h3>
                                    <p>Vení directamente, te atendemos de lunes a viernes de 9 a 17 hs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="icon-19"></i></div>
                                    <h3>Turnos por WhatsApp</h3>
                                    <p>Podés hacer consultas o pedir turnos fácilmente por celular.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="icon-20"></i></div>
                                    <h3>Rapidez y precisión</h3>
                                    <p>Estudios dentales realizados con tecnología y entregas ágiles.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chooseus-section end -->
