        <!-- news-section -->
<section class="news-section sec-pad bg-color-1">
    <div class="auto-container">
        <div class="sec-title mb_50 centred">
            <span class="sub-title">Our Blog</span>
            <h2>Take a look at our most <br />recent articles</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-1.jpg" alt=""></a></figure>
                        <div class="lower-content">
                            <ul class="post-info mb_15 clearfix">
                                <li><a href="blog-details.html">Admin</a></li>
                                <li>12 Jan 2022</li>
                                <li>03 Comt</li>
                            </ul>
                            <h3><a href="blog-details.html">How do Inherited Retinal of Diseases Happen?</a></h3>
                            <p>Tincidunt Maur nemi sit Interdum praesento eget morbi lacinia volutpat pellentesque Tincidunt aurna suspit.</p>
                            <div class="link">
                                <a href="blog-details.html"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-2.jpg" alt=""></a></figure>
                        <div class="lower-content">
                            <ul class="post-info mb_15 clearfix">
                                <li><a href="blog-details.html">Admin</a></li>
                                <li>11 Jan 2022</li>
                                <li>0 Comt</li>
                            </ul>
                            <h3><a href="blog-details.html">Prepare to Speak with Your Eye Specialist.</a></h3>
                            <p>Tincidunt Maur nemi sit Interdum praesento eget morbi lacinia volutpat pellentesque Tincidunt aurna suspit.</p>
                            <div class="link">
                                <a href="blog-details.html"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-3.jpg" alt=""></a></figure>
                        <div class="lower-content">
                            <ul class="post-info mb_15 clearfix">
                                <li><a href="blog-details.html">Admin</a></li>
                                <li>11 Jan 2022</li>
                                <li>02 Comt</li>
                            </ul>
                            <h3><a href="blog-details.html">How reliece can help you manage diabetes</a></h3>
                            <p>Tincidunt Maur nemi sit Interdum praesento eget morbi lacinia volutpat pellentesque Tincidunt aurna suspit.</p>
                            <div class="link">
                                <a href="blog-details.html"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news-section end -->