    <!-- pricing-section -->
<section class="pricing-section sec-pad">
    <div class="auto-container">
        <div class="sec-title mb_50 centred">
            <span class="sub-title">Our Pricing</span>
            <h2>Affordable care options for <br />all patients</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                <div class="pricing-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="pricing-table">
                        <div class="shape" style="background-image: url(assets/images/shape/shape-22.png);"></div>
                        <div class="table-header">
                            <h5>Standard Consultation</h5>
                            <h2>$49.99</h2>
                            <span>Monthly</span>
                        </div>
                        <div class="table-content">
                            <ul class="feature-list clearfix">
                                <li>Virtual visit</li>
                                <li>Up to 30 minutes</li>
                                <li>Securely conducted online</li>
                                <li>Discuss and receive guidance</li>
                                <li>Rate varies on specific needs</li>
                                <li>Healthcare provider Consult</li>
                            </ul>
                        </div>
                        <div class="table-footer">
                            <a href="index.html" class="theme-btn btn-three"><span>Choose Plan <i class="icon-25"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                <div class="pricing-block-one active-block wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="pricing-table">
                        <div class="shape" style="background-image: url(assets/images/shape/shape-22.png);"></div>
                        <div class="table-header">
                            <h5>Annual Physical</h5>
                            <h2>$149.99</h2>
                            <span>Monthly</span>
                        </div>
                        <div class="table-content">
                            <ul class="feature-list clearfix">
                                <li>In-person examination</li>
                                <li>Up to 60 minutes</li>
                                <li>Various tests and assessments</li>
                                <li>In-person service</li>
                                <li>Rate varies on specific needs</li>
                                <li>Healthcare provider Consult</li>
                            </ul>
                        </div>
                        <div class="table-footer">
                            <a href="index.html" class="theme-btn btn-three"><span>Choose Plan <i class="icon-25"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                <div class="pricing-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="pricing-table">
                        <div class="shape" style="background-image: url(assets/images/shape/shape-22.png);"></div>
                        <div class="table-header">
                            <h5>Extended Consultation</h5>
                            <h2>$99.99</h2>
                            <span>Monthly</span>
                        </div>
                        <div class="table-content">
                            <ul class="feature-list clearfix">
                                <li>Virtual visit</li>
                                <li>Up to 60 minutes</li>
                                <li>Discuss more details</li>
                                <li>Receive in-depth guidance</li>
                                <li>Rate varies on specific needs</li>
                                <li>Healthcare provider Consult</li>
                            </ul>
                        </div>
                        <div class="table-footer">
                            <a href="index.html" class="theme-btn btn-three"><span>Choose Plan <i class="icon-25"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pricing-section end -->