@model System.Data.DataTable
<!-- service-section -->
<section class="service-section sec-pad">
    <div class="auto-container">
        <div class="sec-title mb_50 centred">
            <span class="sub-title">Nuestros Servicios</span>
            <h2>Radiografías Dentales sin turno<br />en Moreno</h2>
        </div>
        <div class="row clearfix">
            <!-- Servicio -->
            @for (int fila = 0; fila <= Model.Rows.Count-1; fila++)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="assets/images/service/service-3.jpg" alt="Estudios cefalométricos"></a></figure>
                                <div class="icon-box"><i class="icon-17"></i></div>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">@Model.Rows[fila]["Servicio"].ToString()</a></h3>
                                <p>$@Model.Rows[fila]["Precio"].ToString()</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- service-section end -->
