<!-- video-section -->
<section class="video-section p_relative">
    <div class="bg-layer parallax-bg" data-parallax='{"y": 100}' style="background-image: url(assets/images/background/video-bg.jpg);"></div>
    <figure class="image-layer"><img src="assets/images/resource/video-1.png" alt=""></figure>
    <div class="auto-container">
        <div class="inner-box">
            <div class="shape" style="background-image: url(assets/images/shape/shape-17.png);"></div>
            <div class="video-btn">
                <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A" class="lightbox-image" data-caption="Dientes de León - Radiología Dental">
                    <i class="fas fa-play"></i>
                    <span class="border-animation border-1"></span>
                    <span class="border-animation border-2"></span>
                    <span class="border-animation border-3"></span>
                </a>
            </div>
            <h2>Conocé nuestro servicio de <br />radiología dental digital</h2>
            <div class="btn-box">
                <a href="index.html" class="theme-btn btn-one"><span>Ver estudios disponibles</span></a>
            </div>
        </div>
    </div>
</section>
<!-- video-section end -->
